<div class="px-4 py-8">
  {% paginate collection.products by section.settings.products_per_page %}
    <h1 class="text-3xl text-center mb-6">{{ collection.title }}</h1>

    {% if collection.products.size > 0 %}
      <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
          {% for product in collection.products %}
             {% render 'product-card' , product_prodcuts: product %}
          {% endfor %}
        </div>
      </div>
    {% else %}
      <p class="text-center text-gray-500">There are no products in this collection.</p>
    {% endif %}

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>


{% schema %}
    {
        "name": "Collection Template",
        "settings": [
            {
              "type": "number",
                "id": "products_per_page",
                "default": 6,
                "label": "Number Of per page"
            }
        ]
    }
{% endschema %}
